{{#block "article"}}

<hr class="featurette-divider">

<div class="featurette">
	<img class="featurette-image pull-right" src="resources/system/img/bootstrap/example/browser-icon-chrome.png">
	<h2 class="featurette-heading">{{this.id}}. {{this.title}}<br><span class="muted">It'll be understandable.</span></h2>
	{{{this.elements}}}
	<!-- <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
	<pre><code class="language-java">import java.lang.String;
/**
 * @author Example
 */
public class Main {
	public static void main(String[] args) {
		System.out.println("Hello World!");
	}
}</code></pre> -->
	<p><a class="btn" href="#">View details &raquo;</a></p>
</div><!--/row-->
{{/block}}