
{{#block "head"}}
<title>TwiTemplating - Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale = 1.0,maximum-scale = 1.0" />
<meta name="author" content="Michael Koppen" />
<meta name="copyright" content="Michael Koppen" />
<meta name="page-topic" content="" />
<meta name="page-type" content="" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<!--<meta name="robots" content="index, follow" />-->
<!-- INFO: Suchmaschine erlauben zu indizieren (mögliche werte: index, noindex,  follow, nofollow, all)-->
<meta name="robots" content="all" />


<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<!--<meta http-equiv="Content-Type" content='text/html; charset=UTF-8' />-->
<meta http-equiv="content-language" content="de" />
<!-- INFO: cachen der Seite erlauben? -->
<!--<meta http-equiv="cache-control" content="no-cache" />-->
<!-- INFO: cachen der Seite für Proxies erlauben? -->
<!--<meta http-equiv="pragma" content="no-cache" />-->
<!-- INFO: Inhalt der Seite verfällt in 24 Stunden (86400 Sekunden) -->
<!--<meta http-equiv="expires" content="86400">-->
<!-- INFO: Automatisches weiterleiten an URL in 5 Sekunden -->
<!--<meta http-equiv="refresh" content="5; URL=datei.htm" />-->
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="resources/system/css/twitemplating.css">
<link rel="stylesheet" href="resources/system/css/bootstrap/bootstrap.min.css" media="screen">
<link rel="stylesheet" href="resources/system/css/bootstrap/bootstrap-responsive.css" >
<link rel="stylesheet" href="resources/system/css/highlight/light/vs.css">


<!-- Fav and touch icons -->
<!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="../assets/ico/favicon.png">-->

{{/block}}
